{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
<div class = "about">

<br>
This project has been implemented by Abhinav Reddy Muthyala for the <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x#.VJH70mTF845" target="_blank"> CS50x</a> course offered by Harvard University on <a href="https://www.edx.org/" target="_blank"> edX</a>.
<br>
<h3>Steganography</h3>
Steganography is the art and science of writing hidden messages in such a way that no one, apart from the sender and intended recipient, 
suspects the existence of the message, a form of security through obscurity. 
Consequently, functions provided by Stéganô only hide messages, without encryption. 
Steganography is often used with cryptography. 
Hide50 implements a non-complex encyption based on Caesar from problem set 2 of this course prior to actual steganography taking place. 
User is required to provide a key (Integer between 1 and 26, both included).
<br>
<h3>Disclaimer</h3>
This project is for the purpose of demonstration only. 
I do not recommend any individual(s)/instituition(s) to use this project for any purpose. 
I cannot and do not guarantee or promise any outcome, effect, or results due to use of this and associated webpages. 
The use of this webpage and project, partially or wholly shall be at your sole risk.
I also do not gaurantee the safety of any information/files you provide/upload on this or any associated webpage.

</div>
{% endblock %}
